@model WebServiceCosmetics.Models.ProductSalesModel

@{
    ViewData["Title"] = "Создание продажи";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Product_id" class="control-label"></label>
        <select asp-for="Product_id" class="form-control" asp-items="ViewBag.Product"></select>
        <span asp-validation-for="Product_id" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Employees_id" class="control-label"></label>
        <select asp-for="Employees_id" class="form-control" asp-items="ViewBag.Employees"></select>
        <span asp-validation-for="Employees_id" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Дата</label>
        <input asp-for="Date" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
</form>

<a asp-action="Index">Назад</a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
