@{
    ViewData["Title"] = "Панель директора";
}

<h2>Добро пожаловать, Директор</h2>

<p>Вы можете просматривать отчёты и управлять зарплатами.</p>

<ul>
    <li><a href="@Url.Action("Index", "Budget")">Просмотр бюджета</a></li>
    <li><a href="@Url.Action("Index", "Salary")">Просмотр зарплат</a></li>
    <li><a href="@Url.Action("Index", "Product")">Просмотр готовой продукции</a></li>

</ul>
