//INDEX VIEW
<h2>Выберите роль:</h2>
<form method="post" asp-action="SelectRole">
    <button type="submit" name="role" value="Admin" class="btn btn-danger">Админ</button>
    <button type="submit" name="role" value="Director" class="btn btn-primary">Директор</button>
    <button type="submit" name="role" value="Manager" class="btn btn-success">Менеджер</button>
    <button type="submit" name="role" value="Accountant" class="btn btn-warning">Бухгалтер</button>
    <button type="submit" name="role" value="Technologist" class="btn btn-info">Технолог</button>
</form>
